---
import { Icon } from 'astro-icon/components'

interface Props {
    title: string
    author: string
    link: string
    description: string
    date: string
    image_src: string
    image_alt: string
}

const { title, author, date, link, description, image_src, image_alt } = Astro.props

const now = new Date()
const twoWeeksAgo = new Date(now.getTime() - 14 * 24 * 60 * 60 * 1000)
const d = new Date(date)
let isRecent = d >= twoWeeksAgo && d <= now

const postDate = d.toLocaleDateString('en-US', {
    month: 'short',
    day: 'numeric',
    year: 'numeric',
})
---

<div class="col-sm-4">
    <div class="card border-0">
        <div class="ratio ratio-16x9 ratio-sm-21x9">
            <img
                src={image_src}
                class="card-img-top object-fit-cover"
                alt={image_alt}
                transition:name={link}
            />
        </div>
        <div class="card-body">
            <h5 class="card-title">{title}</h5>
            <h6 class="card-subtitle mb-2">
                {author}
            </h6>

            <p class="card-text">
                {description}
            </p>
            <a class="icon-link icon-link-hover" href={link}
                >Continue reading<Icon
                    name="mdi:arrow-right-thin"
                    class="bi"
                    aria-hidden="true"
                /></a
            >
        </div>
        <div class="card-footer text-body-secondary">
            <small>{postDate} {isRecent && <Icon name="mdi:new-box" class="fs-3" />}</small>
        </div>
    </div>
</div>
